[submodule "src/Vendors/googletest"]
	path = src/Vendors/googletest
	url = https://github.com/google/googletest.git
[submodule "src/Vendors/glfw"]
	path = src/Vendors/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/Vendors/glm"]
	path = src/Vendors/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/Vendors/cpp-utilities"]
	path = src/Vendors/cpp-utilities
	url = https://github.com/StoneHappy/cpp-utilities.git
